
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title pull-left">
      <span class="text-warning icon-interface-1"></span>
      <span>UpDate Employee</span>
    </h3>
    <button type="button" class="close close_modal" aria-label="Close" (click)="closeEmployee()">
      <img src="/assets/images/close.jpg">
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div  *ngIf="!isValid" class="alert alert-danger">
        <strong>Error!</strong> Falta Lllenar algunoscambio
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">First Name:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="employee.firstName" placeholder="Enter First Name" name="firstName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Last Name:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="employee.lastName"  placeholder="Enter Last Name" name="lastName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">CI:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="employee.ci" placeholder="Enter CI" name="ci" maxlength="7">
        </div>
        <label class="control-label col-sm-1" >Gender:</label>
        <div class="col-sm-4">
          <select class="form-control" [(ngModel)]="employee.gender" name="gender">
            <option *ngFor="let gender of genders">{{gender.valueOf()}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Address:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="employee.address" placeholder="Enter address" name="address">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">date of birth:</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" [(ngModel)]="employee.birthDate" placeholder="date of birth" name="birthDate">
        </div>
        <label class="control-label col-sm-1">Phone:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="employee.phone" placeholder="Enter Phone" name="phone">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Email:</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" [(ngModel)]="employee.email" placeholder="Enter email" name="email">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Employee Type:</label>
        <div class="col-sm-4">
          <select class="form-control" [(ngModel)]="employee.employeeTypeId" name="employeeTypeId">
            <option *ngFor="let employeeType of employeeTypes$" [value]="employeeType.typeId">{{employeeType.typeName}}</option>
          </select>
        </div>
        <label class="control-label col-sm-1">Salary:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="employee.salary" placeholder="Enter Salary" name="salary">
        </div>

      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" (click)="updateEmployee()" class="btn btn-primary">Update
          </button>
          <button type="button" class="btn btn-danger " data-toggle="tooltip" data-placement="top"
                  (click)="closeEmployee()">Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<!--
<div class="col-md-6">
  <h2 class="text-center">Edit Employee</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" formControlName="address" placeholder="Address" name="address" class="form-control" id="address">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
-->
