.background-primary {
  background-color: background-dark!important;
}
.background-accent {
  background-color: accent-color!important;
}
.text-floral-white {
  color: floralwhite!important;
}

.flex-spacer {
flex: 1 1 auto;
}