.background-primary {
  background-color: background-dark!important;
}
.background-accent {
  background-color: accent-color!important;
}
.text-floral-white {
  color: floralwhite!important;
}

.flex-spacer {
flex: 1 1 auto;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
ul{
  cursor: pointer ;
  cursor: hand;
}
/*li:hover{
  background-color: black;
}
li>a:hover{
  color: blue;
  background-color: lightsteelblue;
}*/
