<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title pull-left">
      <span class="text-warning icon-interface-1"></span>
      <span>Update Material Type</span>
    </h3>
    <button type="button" class="close close_modal" aria-label="Close" (click)="closeMaterialType()">
      <img src="/assets/images/close.jpg">
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" >
      <div class="form-group">
        <label class="control-label col-sm-2" for="nameType">Material Type:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)] =" materialType.nameType" id="nameType" placeholder="Enter Type Material" name="nameType">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" (click)="updateMaterialType(materialType)" class="btn btn-primary">Update
          </button>
          <button type="button" class="btn btn-danger " data-toggle="tooltip" data-placement="top"
                  (click)="closeMaterialType()">Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

