
<div class="container">

  <div class="container jumbotron"
       fxLayout="row"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutAlign.xs="start center"
       fxLayoutAlign.sm="start center"
       fxLayoutAlign.gt-sm="center center"
       fxLayoutGap="10px">
    <div fxFlex fxFlex.gt-sm="70%">

      <h3>SSI-GA New AREA registration</h3>
      <form class="form-horizontal">

        <!--<div  *ngIf="!isValid" class="alert alert-danger">-->
          <!--<strong>Error!</strong> Falta Lllenar algunoscambio-->
        <!--</div>-->

        <div class="form-group">
          <label class="control-label col-sm-2"  > Personal:</label>
          <select class="form-control" [(ngModel)]="employee.id" name="employeeTypeId">
              <option [value]="0">Please Select Personal</option>
              <option *ngFor="let listEmployee of listEmployee$" [value]="listEmployee.id">{{listEmployee.firstName}}</option>
          </select>

     </div>

        <div class="form-group">
          <label >Area:</label>


          <select class="form-control" id="sel1">
            <option [value]="0">Please Select Area</option>
            <option>Area 1</option>
            <option>Area 2</option>
            <option>Area 3</option>
            <option>new Area </option>
          </select>



       </div>

        <div class="form-group">
          <label for="capacidad">Capacidad:</label>
          <select class="form-control" [(ngModel)]="employee.employeeTypeId" id="capacidad" name="capacidad">
            <option [value]="0">Please Select Capacity</option>
            <option *ngFor="let employeeType of employeeTypes$" [value]="employeeType.typeId">{{employeeType.typeName}}</option>
          </select>

        </div>


        <div class="form-group">
           <label for="observation">Observations:</label>
           <textarea class="form-control" rows="5" id="observation"></textarea>
        </div>


        <div class="form-group">
            <label for="dateRegister">Date Register:</label>
            <input type="date" id="dateRegister" class="form-control" [(ngModel)]="employee.birthDate" placeholder="date of birth" name="birthDate">
        </div>


        <div class="form-group">
          <button type="submit"  (click)="saveOrUpdatePeronal()"  class="btn btn-default">Submit</button>
        </div>

      </form>


    </div>
    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/imageRegister.png" alt="icon" width="300" height="300">
    </div>
    <div fxFlex></div>
  </div>
  <br>


</div>


