<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="15px">

  <div fxFlex fxFlex.gt-sm="60%">
    <h2>SSI-GA About-Us</h2>
    <div class="container">
      <a><img class="img-responsive img img-circle" src="../../assets/images/team/integrante-hombre.jpg">
      <h5>Guido Llanos</h5></a>
      <a><img class="img-responsive img img-circle" src="../../assets/images/team/integrante-hombre.jpg">
        <h5>Alvaro Veliz</h5></a>
      <a><img class="img-responsive img img-circle" src="../../assets/images/team/integrante-hombre.jpg">
        <h5>Henry Calani</h5></a>
      <a><img class="img-responsive img img-circle" src="../../assets/images/team/integrante-mujer.png">
        <h5>Lidia Cussi</h5></a>
      <a><img class="img-responsive img img-circle" src="../../assets/images/team/integrante-hombre.jpg">
        <h5>Edwin Rojas</h5></a>
      <a><img class="img-responsive img img-circle" src="../../assets/images/team/integrante-hombre.jpg">
        <h5>Marco Herrera</h5></a>
      <a><img class="img-responsive img img-circle" src="../../assets/images/team/integrante-mujer.png">
        <h5>Licelia Rojas</h5></a>
      <a><img class="img-responsive img img-circle" src="../../assets/images/team/integrante-hombre.jpg">
        <h5>Maximiliano Camacho</h5></a>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
    </div>
  <div fxFlex></div>
  </div>

