<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
    <button type="submit"
            [disabled]="employeeForm.pristine" class="btn btn-success">Save</button> &nbsp;
    <button type="button" (click)="revert()"
            [disabled]="employeeForm.pristine" class="btn btn-danger">Revert</button>
  </div>

  <!-- Hero Detail Controls -->
  <div class="form-group">
    <label class="center-block">Nombres:
      <input class="form-control" formControlName="fisrtName">
    </label>
  </div>

  <div class="form-group">
    <label class="center-block">Apellidos:
      <input class="form-control" formControlName="lastName">
    </label>
  </div>

  <div class="form-group">
    <label class="center-block">Direccion:
      <input class="form-control" formControlName="address">
    </label>
  </div>

</form>

<p>EmployeeForm value: {{ EmployeeForm.value | json}}</p>

