<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title pull-left">
      <span class="text-warning icon-interface-1"></span>
      <span>Create Employee</span>
    </h3>
    <button type="button" class="close close_modal" aria-label="Close" (click)="closeEmployee()">
      <img src="/assets/images/close.jpg">
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div  *ngIf="!isValid" class="alert alert-danger">
        <strong>Error!</strong> Falta Lllenar algunoscambio
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="firstName">First Name:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="employee.firstName" id="firstName" placeholder="Enter First Name" name="firstName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="lastName">Last Name:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="employee.lastName" id="lastName" placeholder="Enter Last Name" name="lastName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="ci">CI:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="employee.ci" id="ci" placeholder="Enter CI" name="ci" maxlength="7">
        </div>
        <label class="control-label col-sm-1" for="gender">Gender:</label>
        <div class="col-sm-4">
          <select class="form-control" [(ngModel)]="employee.gender" id="gender">
            <option>FEMALE</option>
            <option>MALE</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="address">Address:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="employee.address" id="address" placeholder="Enter address" name="address">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"  for="birthDate">date of birth:</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" [(ngModel)]="employee.birthDate" id="birthDate" placeholder="date of birth" name="birthDate">
        </div>
        <label class="control-label col-sm-1" for="phone">Phone:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="employee.phone" id="phone" placeholder="Enter Phone" name="phone">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" [(ngModel)]="employee.email" id="email" placeholder="Enter email" name="email">
        </div>
      </div>
      <div class="form-group">
        <!--<label class="control-label col-sm-2" for="typeEmployee">Employee Type:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="typeEmployee" placeholder="Enter Phone" name="typeEmployee">
        </div>-->
        <label class="control-label col-sm-1" for="salary">Salary:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="employee.salary" id="salary" placeholder="Enter Salary" name="salary">
        </div>

      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" (click)="saveEmployee()" class="btn btn-primary">Create
          </button>
          <button type="button" class="btn btn-danger " data-toggle="tooltip" data-placement="top"
                  (click)="closeEmployee()">Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
