<div class="container jumbotron"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center"
fxLayoutAlign.gt-sm="center center"
fxLayoutGap="15px">
<div fxFlex fxFlex.gt-sm="70%">
    <br><br><br>
    <span><img src="../../assets/images/logoSSI-GA.png" height=73 width=90></span>
    <h3>SSI-GA Assignment</h3>
    <form [formGroup]="formAssign" (ngSubmit)="onSubmit()" id="ngForm">
    <mat-form-field>
        <mat-select formControlName="Employee" placeholder="Employee">
            <mat-option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName}} {{employee.lastName}}</mat-option>
        </mat-select>
        <mat-hint>
            <span>select employee</span>
        </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="EquipmentToAssign" placeholder="Equipment to Assign">
            <mat-option *ngFor="let material of materials" [value]="material.id">{{material.name}}</mat-option>
        </mat-select>
        <mat-hint>
            <span>select Material to assign</span>
        </mat-hint>
    </mat-form-field>
    <mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="quantity"
               type="text"
               required
               placeholder="quantity">
               <mat-hint>is required</mat-hint>
    </mat-input-container>
    <br>
    <button mat-button type="button" class="btn btn-primary">Assign to employee</button>
</form>
</div>
<div fxFlex fxFlex.gt-sm="20%">
<img src="/assets/images/safety-work-icon.jpg" alt="icon" width="300" height="300">
</div>
<div fxFlex></div>
</div>

