<div class="container jumbotron"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center"
fxLayoutAlign.gt-sm="center center"
fxLayoutGap="15px">
<div fxFlex fxFlex.gt-sm="70%">
    <span><img src="../../assets/images/logoSSI-GA.png" height=73 width=90></span>
    <h3>SSI-GA Assignment</h3>

    

</div>
<div fxFlex fxFlex.gt-sm="20%">
<img src="/assets/images/safety-work-icon.jpg" alt="icon" width="300" height="300">
</div>
<div fxFlex></div>
</div>

