<div class="container jumbotron"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center"
fxLayoutAlign.gt-sm="center center"
fxLayoutGap="15px">
<div fxFlex fxFlex.gt-sm="70%">
    <span><img src="../../assets/images/logoSSI-GA.png" height=73 width=90></span>
    <h3>SSI-GA Assignment</h3>
    <mat-form-field>
        <mat-select formControlName="Employee" placeholder="Employee">
            <mat-option *ngFor="let employee of employees">{{employee.firstName}}</mat-option>
        </mat-select>
        <mat-hint>
            <span>select the employee</span>
        </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="EquipmentToAssign" placeholder="Equipment to Assign">
            <mat-option *ngFor="let equipment of equipments">{{equipment.id}} {{equipment.name}}</mat-option>
        </mat-select>
        <mat-hint>
            <span>select the Material to assign</span>
        </mat-hint>
    </mat-form-field>
    <button mat-button (click)="onClick" type="button" class="btn btn-primary">Assign to employee</button>

</div>
<div fxFlex fxFlex.gt-sm="20%">
<img src="/assets/images/safety-work-icon.jpg" alt="icon" width="300" height="300">
</div>
<div fxFlex></div>
</div>

