<div class="container">

  <div class="container jumbotron"
       fxLayout="row"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutAlign.xs="start center"
       fxLayoutAlign.sm="start center"
       fxLayoutAlign.gt-sm="center center"
       fxLayoutGap="10px">
    <div fxFlex fxFlex.gt-sm="70%">

      <h3>SSI-GA New CAPACITY registration</h3>
      <form class="example-form">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Register Capacity" >
        </mat-form-field>
        <br>
        <button mat-button type="button" class="btn btn-primary">Submit</button>

      </form>

      <br>  <br>

      <p>List the Capacity:</p>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Capacity</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>John</td>
          <td>
            <img src="../../assets/images/edit.png" height="20" width="20"/>
            <img src="../../assets/images/delete.png" height="20" width="20"/>
          </td>
        </tr>
        <tr>
          <td>Capacity</td>
          <td>
            <img src="../../assets/images/edit.png" height="20" width="20"/>
            <img src="../../assets/images/delete.png" height="20" width="20"/>
          </td>
        </tr>
        </tbody>
      </table>


    </div>
    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/mat-seguridad.jpg" alt="icon" width="300" height="300">
    </div>
    <div fxFlex></div>
  </div>
  <br>


</div>
