<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="15px">

<div fxFlex fxFlex.gt-sm="60%">
<span><img src="../../assets/images/logoSSI-GA.png" height=73 width=90></span>
<h2>SSI-GA</h2>
<h4>We take inspiration from the World's best safety practices, and create a unique fusion experience. Our awesome safety protection items
 will tickle your safety vision!</h4>
<h4>We are a responsible company, we care about your safety, and we want to make sure that safety management is the most appropriate and safe</h4>
</div>
<div fxFlex fxFlex.gt-sm="15%">
<img  class= "img img-circle" src="../../assets/images/trabajador-con-equipo-de-proteccion-personal.jpg" alt="Logo" width="300" height="300">
</div>
<div fxFlex></div>
</div>
