

<div class="col-md-6" id="content-employee-type">
  <div id="employee-type-list">
    <h2> Type Employee List</h2><br>
    <button  (click)="createEmployeeType()"  class="btn btn-success">Add Type Employee</button>
    <br>
  <table class="table table-striped">
    <thead>
    <tr bgcolor="#87cefa">
      <th class="hidden">Id</th>
      <th>Name Type Employee</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employeeType of employeeTypes$">
      <td class="hidden">{{employeeType.typeId}}</td>
      <td>{{employeeType.typeName}}</td>
      <td>{{employeeType.description}}</td>
      <td><button class="btn btn-danger" > Delete</button>
        <button (click)="editTypeEmployee(employeeType)" class="btn btn-info"  style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
  </div>
  <div id="image-employee-type">
    <div id="content-image-employee-type">
      <img src="/assets/images/type-employee.jpg" alt="Logo" width="400" height="400" img= "img-responsive">
    </div>
  </div>
</div>
