
<div>
  <h2> Type Employee List</h2><br>
  <button  (click)="createEmployeeType()"  class="btn btn-success" style="margin-left: 20px;">Add Type Employee</button>
</div>
<br/>
<div class="col-md-6">
  <table class="table table-striped">
    <thead>
    <tr bgcolor="#87cefa">
      <th class="hidden">Id</th>
      <th>Name Type Employee</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employeeType of employeeTypes$">
      <td class="hidden">{{employeeType.typeId}}</td>
      <td>{{employeeType.typeName}}</td>
      <td>{{employeeType.description}}</td>
      <td><button class="btn btn-danger" > Delete</button>
        <button (click)="editTypeEmployee(employeeType)" class="btn btn-info"  style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
